node_modules

/.cache
/build
/public/build
.env

infra/tf-backend/.terraform
infra/tf-backend/terraform.tfstate
infra/tf-backend/terraform.tfstate.backup
infra/tf-backend/.terraform.lock.hcl
infra/tf-backend/*.plan
infra/tf-backend/init.sh

infra/tf-app/.terraform
infra/tf-app/terraform.tfstate
infra/tf-app/terraform.tfstate.backup
infra/tf-app/.terraform.lock.hcl
infra/tf-app/*.plan
infra/tf-app/init.sh

docs/
README-h03.md
screenshot-lab-a03.png
pulumi-output.png